/web/bundles/
/web/inc/
/web/old/
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/nbproject/
/app/bootstrap*
/web/old/
/web/uploads/
# Netbeans Specific #
/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
# Class Files #
*.class
# Package Files #
*.jar
*.war
*.ear
