<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Stacy Mark - Art - Paintings{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block facebook %}{% endblock %}
        {% block styles %}
            <link href='http://fonts.googleapis.com/css?family=Montserrat:400|Rock+Salt' rel='stylesheet' type='text/css'>
            <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css')}}" />
        {% endblock %}         
        {% block js %}
        <!--[if lt IE 9]>
            <script src="{{ asset('scripts/html5shiv.js') }}"></script>
        <![endif]-->
        {% endblock %}
    </head>
    <body class="centered gradient row">
        <div id="fb-root"></div>
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1413430075637236',
              xfbml      : true,
              version    : 'v2.2'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block js_btm %}
        {% endblock %}
    </body>
</html>
